.archive, .single {
  padding-top: 44px !important;
  @media(max-width: $sm) {
    padding-top: 0 !important;
  }
  .flex {
    margin-top: 0;
    .stream-container {
      padding-top: 0;
    }
  }
  // filters 
  .form-container {
    padding-top: 23px;
    position: relative;
    button {
      text-transform: uppercase;
      font-size: 1rem;
      color: white;
      padding-left: 0;
      position: absolute;
      right: 0;
      @media(max-width: $sm) {
        position: absolute;
      }
    }
    form {
      text-transform: uppercase;
      fieldset {
        border: none;
        padding:0;
        margin:0;
        display: flex;
        @media(max-width: $lg) {
          flex-direction: column;
        }
        // @media(max-width: $sm) {
        //   flex-direction: column;
        // }
        .input-container {
          position: relative;
          padding-left: 10px;
        }
        input {
          opacity: 0;
          height: 0px;
          width: 0px;
          position: absolute;
          top:9px;
        }
        p, label {
          font-size: 1.5rem;
        }
        p {
          padding-right: 15px;
          @media(max-width: $sm) {
            font-size: 1rem;
          }
        }
        label {
          position: relative;
          padding: 0 15px 0 2.5px;
          cursor: pointer;
          &:hover, &:focus {
            &::after {
              display: block;
              // background-color: black;
            }
          }
        }
        label::before {
          content: "";
          position: absolute;
          left: -13px;
          bottom: 3px;
          width: 12px;
          height: 12px;
          background-color: #c1ff72;
          border-radius: 100px;
        }
        label::after {
          content: "";
          position: absolute;
          height: 7.65px;
          width: 7.65px;
          background-color: black;
          border-radius: 100px;
          left: -11px;
          bottom: 5px;
          display: none;
        }
        input:checked + label::after {
          display: block;
        }
      }
    }
  }
}