.archive {
  .stream {
    position: relative;
    ul {
      padding: 0 0 75px 0;
    }
  }
  // filters 
  .form-container {
    padding-top: 23px;
    button {
      text-transform: uppercase;
      font-size: 1.2rem;
      color: white;
      padding-left: 0;
      // position: absolute;
      // right: 0;
    }
    form {
      text-transform: uppercase;
      fieldset {
        border: none;
        padding:0;
        margin:0;
        display: flex;
        .input-container {
          position: relative;
          padding-left: 10px;
        }
        input {
          opacity: 0;
          height: 0px;
          width: 0px;
          position: absolute;
          top:9px;
        }
        p, label {
          font-size: 1.5rem;
        }
        p {
          padding-right: 15px;
        }
        label {
          position: relative;
          padding: 0 15px 0 2.5px;
          cursor: pointer;
          &:hover, &:focus {
            &::after {
              display: block;
              // background-color: black;
            }
          }
        }
        label::before {
          content: "";
          position: absolute;
          left: -13px;
          bottom: 3px;
          width: 12px;
          height: 12px;
          background-color: #c1ff72;
          border-radius: 100px;
        }
        label::after {
          content: "";
          position: absolute;
          height: 7.65px;
          width: 7.65px;
          background-color: black;
          border-radius: 100px;
          left: -11px;
          bottom: 5px;
          display: none;
        }
        input:checked + label::after {
          display: block;
        }
      }
    }
  }
}

.archive.scroll {
  .logo {
    top: 228px;
  }
}