button {
  background: none;
  border: none;
}

a.primary {
  color: white;
  font-size: 2.5rem;
  position: relative;
  padding-right: 35px;

  &::after {
    content: url(./assets/external-link.svg);
    position: absolute;
    height: 21.5px;
    width: 21.5px;
    top: 2px;
    right: 0;
    transition: 0.3s;
    transform: rotate(45deg);
  }

  &:hover,
  &:focus {

    // text-decoration: underline;
    &::after {
      right: -6px;
    }
  }
}

a.secondary {
  font-family: 'Dogica';
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1;
  color: #c1ff72;
  // font-weight: 700;
  letter-spacing: -1.5px;
  margin-bottom: 8px;
  position: relative;
  max-width: max-content;

  &::after {
    content: url(./assets/button-arrow-green.svg);
    position: absolute;
    right: -15px;
    height: 13px;
    width: 13px;
    top: -2px;
  }

  &.internal {
    &::after {
      transform: rotate(45deg);
    }
  }
}